

header {
  background-image: linear-gradient(
    90deg,
    #000033,
    #0000cc,
    #3333ff,
    #0000cc,
    #000033
  );
  margin: 0px 0px 13px 0px;
  height: 50px;
  text-align: center;
  vertical-align: center;
  padding: 30px;
  font-size: 20px;
  border-image: linear-gradient(90deg, #000033, #0000cc, #0000cc, #000033) 30;
  border-width: 5px;
  border-style: solid;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}

#menu {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 7px;
  bottom: -1px;
  cursor: pointer;
}

.menu-dropdown {
  width: 98vw;
  height: 500%;
  background-color: red;
  background-image: linear-gradient(
    90deg,
    #000033,
    #0000cc,
    #3333ff,
    #0000cc,
    #000033
  );
  border: white solid 3px;

  position: block;
  display: block;
  right: 0px;
  top: 100%;
  z-index: 3;
}

body {
  background-color: black;
  font-family: sans-serif;
  overflow: hidden;
}

.dashboard {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  justify-content: center;
  align-content: center;
  gap: 1vw;
}

.divider {
  background-image: linear-gradient(
    90deg,
    #000033,
    #0000cc,
    #3333ff,
    #0000cc,
    #000033
  );
  height: 0.1rem;
  width: 100%;
  margin: 20px 0px;

  border-image: linear-gradient(
      90deg,
      #000033,
      #0000cc,
      #4b4bcf,
      #0000cc,
      #000033
    )
    30;
  border-width: 6px;
  border-style: solid;
}

hr {
  margin: 3rem 0px;
}

h1 {
  font-family: "Audiowide";
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px white;
}

h2 {
  color: white;
  padding: 0px;
}

h3 {
  color: white;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Courier New";
}

.dropdown {
  border-image: linear-gradient(90deg, #000033, #3333ff, #000033) 30;
  border-width: 5px;
  border-style: solid;
  font-size: 1vw;

  background-color: black;
  padding: 0.5em;
  text-align: center;
  margin: 0px;
  position: relative;
  cursor: pointer;
}

.dropdown-1:hover {
  border-image: linear-gradient(90deg, #270101, #eb0606, #270101) 30;
}

.dropdown-content {
  display: none;
  background-image: linear-gradient(
    90deg,
    #000033,
    #0000cc,
    #3333ff,
    #0000cc,
    #000033
  );
  border-image: linear-gradient(90deg, #000033, #3333ff, #000033) 30;
  border-width: 5px;
  border-style: solid;
  width: 100%;
  line-height: 35px;

  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 1;
}

.dropdown-content-tools {
  display: none;
  background-image: linear-gradient(
    90deg,
    #000033,
    #0000cc,
    #3333ff,
    #0000cc,
    #000033
  );
  border-image: linear-gradient(90deg, #000033, #3333ff, #000033) 30;
  border-width: 5px;
  border-style: solid;
  width: 100%;
  line-height: 35px;
  position: absolute;
  bottom: -5px;
  left: -5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}

.dropdown:hover .dropdown-content-tools {
  display: block;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  position: relative;
  width: 100%;
}

li {
  font-size: 1.3rem;
  color: white;
  font-family: sans-serif;
  line-height: 4rem;
  width: 100%;
  cursor: pointer;
  margin: 0 15px 0 15px;
}

ul li {
  display: flex;
  flex-direction: column;
  position: static;
}

ul li ul {
  display: none;
}

ul li:hover {
  background-color: #3333ff;
}

ul li ul li {
  margin: 0;
  display: inline;
}

ul li ul li a {
  color: #eb0606;
}

ul li ul li:hover {
	color: #ff0000;
	background-color: black;
	text-shadow: #f1f1f185 1px 1px 1px;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none; /*temp*/
}

#dark-search li span {
  color: red;
}

#dark-search li:hover {
  background-color: black;
  cursor: auto;
}

#dark-links li span {
  color: red;
}

#dark-links li:hover {
  background-color: black;
  cursor: auto;
}

.menu-header {
  text-align: center;
  font-family: "Audiowide";
  text-decoration-line: underline;
}

.curtain {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  top: 0;
  left: 0;
}

.hidden {
  display: none;
}

.settings {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  column-gap: 20px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  background-color: black;
  color: white;
  z-index: 1;
  top: 105%;
  left: 0px;
}

.setting-halves {
  width: 45vw;
  height: 70vh;
  margin: 1em 0 0 0;
  font-size: 1.5rem;
}

#theme-section {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  text-align: left;
  margin-top: 0.8em;
}

#tutorial-section {
  margin: 2em;
  font-size: 1.4em;
}

.show {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  top: 0;
  left: 0;
}

.show-sub {
  background-color: rgb(0, 0, 0);
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-evenly;
  align-items: center;
  top: 100%;
}

.menu {
  /*background-image: linear-gradient(90deg, #10107e, #2626d4, #10107e);*/
  background-color: black;
  overflow-y: auto;
  box-shadow: -3px 25px 30px #3333ff, 3px 25px 30px #3333ff;
  z-index: 1;
  width: 500px;
  height: 100%;
  margin: 0px 0px;
  display: grid;
  grid-template-rows: auto;
  column-gap: 2rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  cursor: auto;
}

.dropdown-1 {
  border-image: linear-gradient(90deg, #000033, #3333ff, #000033) 30;
  border-width: 5px;
  border-style: solid;
  font-size: 1vw;

  background-color: black;
  padding: 0.5em;
  text-align: center;
  margin: 0px;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.close-out {
  width: 55px;
  height: 55px;
  background-color: transparent;
  position: absolute;
  top: 9%;
  right: 20%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#repo-link {
	color: #2196f3;
	text-decoration: underline;
	font-size: 1.5rem;
}

.exit {
  display: none;
}

@media only screen and (max-width: 600px) {
            h1 {
              font-size: 2.6rem;
              margin: 0;
              padding: 5px 0 5px;
            }

            header {
              padding: 0px;
              height: auto;
            }

            .menu-header {
              font-size: 2.2rem;
            }

            #menu {
              display: none;
            }

            .dashboard {
              grid-template-columns: 85%;
              row-gap: 27px;
          }

          h2 {
            font-size: 2rem;
          }

          body {
            overflow: auto;
          }

          .menu {
            position: fixed;
            right: 0;
          }

          li {
            font-size: 1.9rem;
            margin-top: 7vw;
          }

          ul li ul li {
            margin-top: 7vw;
          }

          .exit {
            color: white;
            font-size: 2.2rem;
            display: block;
            background-color: #eb0606;
          }
}