header {
	background-image: linear-gradient(45deg, #000033, #0000cc, #3333ff, #0000cc, #000033);
	margin: 0px 0px 13px 0px;
	height: 50px;
	/*border-bottom: 5px solid white;*/
	text-align: center;
	vertical-align: center;
	padding: 30px;
	font-size: 20px;
}

body {
	background-color: black;
}

.dashboard {
	border-image: linear-gradient(45deg, #000033, #0000cc, #3333ff, #0000cc, #000033) 30;
	border-width: 5px;
	border-style: solid;
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}

h1 {
	font-family: 'Audiowide';
	margin: 0;
	padding: 0;
}

h2 {
	color: white;
}

h3 {
	color: white;
	padding: 0;
	margin: 0;
}

* {
	font-family: "Courier New";
}


.dropdown {
	border-image: linear-gradient(45deg, #000033, #3333ff, #000033) 30;
	border-width: 5px;
	border-style: solid;
	
	background-color: black;
	padding: 0.5em;
	width: 20%;
	text-align: center;
	margin: 9px;
	position: relitive;
	cursor: pointer;
}

.test {                                /*testing style*/
    background-color: black;
	width: 99.5%;
	height: 99.5%;
	text-align: center;
    position: relative;
	border-radius: 15px 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.test-background {
	background-image: linear-gradient(45deg, #000033, #0000cc, #3333ff, #0000cc, #000033);
	padding: 0.5em;
	width: 20%;
	text-align: center;
	margin: 9px;
	border-radius: 15px 50px;
}

.dropdown-content {
	display: none;
	background-image: linear-gradient(45deg, #000033, #0000cc, #3333ff, #0000cc, #000033);
	border-image: linear-gradient(45deg, #000033, #3333ff, #000033) 30;
	border-width: 5px;
	border-style: solid;
	width: 15%;
	line-height: 35px;
	/*
	border-bottom:0;
    border-left:0;
    border-right:0;*/
	position: absolute;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
	cursor: pointer;
}

.test:hover .dropdown-content {
	display: block;
	cursor: pointer;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

a {
	color: red;
	font-weight: bold;                                             /*temp*/
}